@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ff073a;
  --black-red: #c60c31;
  --yellow: #E0E722;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  overflow-x: hidden;
  position: relative;
  /* background-color:hsla(0,100%,50%,1); */
  /* background: #fe2a41; */
  /* background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, rgb(255, 31, 199) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%); */
  /* background: #150813; */
  /* background: linear-gradient(22deg, #e70f5e, #b35ac3, #148ae3);


  -webkit-animation: bg 30s ease infinite;
  -moz-animation: bg 30s ease infinite;*/
  background-size: 210% 210%;
  background-color: #e70d0d;
  background-image: radial-gradient(at 94% 40%, hsla(167, 90%, 55%, 1) 0, hsla(167, 90%, 55%, 0) 50%),
  radial-gradient(at 44% 28%, hsla(235, 93%, 57%, 1) 0, hsla(235, 93%, 57%, 0) 50%),
  radial-gradient(at 35% 6%, hsla(293, 91%, 53%, 1) 0, hsla(293, 91%, 53%, 0) 50%),
  radial-gradient(at 83% 77%, hsla(281, 91%, 57%, 1) 0, hsla(281, 91%, 57%, 0) 50%),
  radial-gradient(at 99% 50%, hsla(186, 92%, 52%, 1) 0, hsla(186, 92%, 52%, 0) 50%);
  animation: bg 15s ease infinite;
}

body::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0,.6);
  /* backdrop-filter: blur(0px); */
}

@-webkit-keyframes bg {
  /* 0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%} */
  0%{
    background-color:#99ebff;
background-image:
radial-gradient(at 2% 21%, hsla(333,75%,78%,1) 0px, transparent 50%),
radial-gradient(at 8% 95%, hsla(277,90%,74%,1) 0px, transparent 50%),
radial-gradient(at 34% 96%, hsla(28,78%,69%,1) 0px, transparent 50%),
radial-gradient(at 90% 64%, hsla(6,78%,64%,1) 0px, transparent 50%),
radial-gradient(at 85% 75%, hsla(289,67%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 64%, hsla(269,91%,61%,1) 0px, transparent 50%),
radial-gradient(at 10% 27%, hsla(60,76%,60%,1) 0px, transparent 50%);
  }
  50%{
    background-color:#ff9e99;
    background-image:
    radial-gradient(at 96% 78%, hsla(25,81%,61%,1) 0px, transparent 50%),
    radial-gradient(at 78% 17%, hsla(283,69%,68%,1) 0px, transparent 50%),
    radial-gradient(at 1% 90%, hsla(254,86%,68%,1) 0px, transparent 50%),
    radial-gradient(at 73% 77%, hsla(144,76%,72%,1) 0px, transparent 50%),
    radial-gradient(at 11% 52%, hsla(258,72%,71%,1) 0px, transparent 50%),
    radial-gradient(at 26% 59%, hsla(47,91%,71%,1) 0px, transparent 50%),
    radial-gradient(at 39% 33%, hsla(77,83%,66%,1) 0px, transparent 50%);
  }
  100%{
    background-color:#a099ff;
    background-image:
    radial-gradient(at 5% 97%, hsla(291,72%,75%,1) 0px, transparent 50%),
    radial-gradient(at 79% 96%, hsla(18,74%,61%,1) 0px, transparent 50%),
    radial-gradient(at 99% 85%, hsla(275,84%,60%,1) 0px, transparent 50%),
    radial-gradient(at 68% 40%, hsla(279,97%,68%,1) 0px, transparent 50%),
    radial-gradient(at 70% 68%, hsla(155,60%,73%,1) 0px, transparent 50%),
    radial-gradient(at 12% 80%, hsla(140,65%,76%,1) 0px, transparent 50%),
    radial-gradient(at 91% 41%, hsla(73,76%,60%,1) 0px, transparent 50%);
  }
}
@-moz-keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-o-keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

div[class="leaflet-bottom leaflet-right"] {
  display: none;
}

.neon_text {
  animation: neonText 1s alternate-reverse infinite;
  color: #ff073a;
}

@keyframes neonText {
  from {
    text-shadow:
      0 0 15px rgba(255, 7, 58, .7),
      0 0 45px rgba(255, 7, 58, .7),
      0 0 105px rgba(255, 7, 58, .7);
  }
  to {
    text-shadow:
      0 0 10px rgba(255, 7, 58, .7),
      0 0 25px rgba(255, 7, 58, .7),
      0 0 65px rgba(255, 7, 58, .7);
  }
}

.neon_card{
  background: #d0f0dd;
  box-shadow: 0px 0px 0 #40ff22,
    0px 0px 4px #30ff1f,
    0px 0px 8px #20ff1b,
    0px 0px 16px #10ff18;
  border-radius: 4px;
  position: absolute;
}
.neon_left{
  width: 4px;
  animation: left 2.03s linear infinite;
}
@keyframes left{
  0%  {height: 0; top: 100%; left: 0;}
  20% {height: 100px; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}
.neon_top{
  height: 4px;
  animation: top 2s linear infinite;
}
@keyframes top{
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100px; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100%;}
}
.neon_right{
  width: 4px;
  animation: right 2s linear infinite;
}
@keyframes right{
  0%  {height: 0; top: 0; left: 100%;}
  40% {height: 0; top: 0; left: 100%;}
  60% {height: 100px; top: 0; left: 100%;}
  80% {height: 0; top: 100%; left: 100%;}
}
.neon_bottom{
  height: 4px;
  animation: bottom 2.1s linear infinite;
}
@keyframes bottom{
  0%  {width: 0; top: 100%; left: 100%;}
  60% {width: 0; top: 100%; left: 100%;}
  80% {width: 100px; top:100%; left: 0;}
  100% {width: 0; top:100%; left: 0;}
}
.copy-box
{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}
.copy-box .line
{
  position: absolute;
  background-color: aqua;
  box-shadow: 0px 0px 12px aqua;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 22px;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box .line .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}
@keyframes scanner-loop
{
  0%
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner
{
  padding: 30px;
}

@keyframes carDropShadow {
  0% {
    filter: drop-shadow(0 6px 6px var(--yellow))
  }
  50% {
    filter: drop-shadow(0 12px 12px var(--yellow))

  }
  100% {
    filter: drop-shadow(0 6px 6px var(--yellow))
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    background: radial-gradient(circle at 14px 18px, white 5px, transparent 7px) no-repeat, radial-gradient(circle at 14px calc(100% - 18px), white 5px, transparent 7px) no-repeat, linear-gradient(white, white) center no-repeat;
    box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 225);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  @variants dark {
    .scrollbar::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: rgba(0,0,0,0.5);
      border-radius: none;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.5);
      border-radius: none;
      border: none;
      box-shadow: none;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  }
}

@media not all and (min-width: 1024px) {
  body, html {
    overflow-x: hidden;
  }
}