@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  display: grid;
  grid-template-columns: 85% 15%;
  background: #200A4C;
  /* background: linear-gradient(22deg, #e70f5e, #b35ac3, #148ae3);
  background-size: 600% 600%;

  -webkit-animation: bg 30s ease infinite;
  -moz-animation: bg 30s ease infinite;
  animation: bg 30s ease infinite; */
}

@-webkit-keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-moz-keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-o-keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@keyframes bg {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    background: radial-gradient(circle at 14px 18px, white 5px, transparent 7px) no-repeat, radial-gradient(circle at 14px calc(100% - 18px), white 5px, transparent 7px) no-repeat, linear-gradient(white, white) center no-repeat;
    box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 225);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  @variants dark {
    .scrollbar::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: rgba(0,0,0,0.5);
      border-radius: none;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.5);
      border-radius: none;
      border: none;
      box-shadow: none;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  }
}
